name: Set Up VPC and ECR

on:
  workflow_dispatch:
    inputs:
      action:
        type: choice
        options:
            - create
            - destroy
        description: Select the action, whether to create or destroy VPC and ECR

env:
  APP_NAME: proj-aws-ecs-cicd
  ECR_S3_REPO: proj-aws-ecs-cicd-s3-ecr
  ECR_SQS_REPO: proj-aws-ecs-cicd-sqs-ecr

jobs:
  get-tag:
    runs-on: ubuntu-latest
    outputs:
      LATEST_TAG: ${{ steps.get_latest_tag.outputs.LATEST_TAG }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Fetch All Tags
        run: git fetch --tags

      - name: Get Latest Tag
        id: get_latest_tag
        run: | 
          echo "LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)" >> "$GITHUB_OUTPUT"
          echo "LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)"

      - name: Output Latest Tag
        run: echo "The latest tag is ${{ steps.get_latest_tag.outputs.LATEST_TAG }}"

  docker-s3-create:
    needs: [get-tag]
    name: S3 docker build
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    defaults:
      run:
        working-directory: flask-s3-service
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to ECR
        run: aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${{ vars.ECR_ENDPOINT }}

      - name: Docker build and tag
        run: |
          docker build -t ${{ env.APP_NAME }}-s3:latest .
          docker tag ${{ env.APP_NAME }}-s3:latest ${{ vars.ECR_ENDPOINT }}/${{ env.ECR_S3_REPO }}:latest

      - name: Docker publish to ECR
        run: |
          docker push ${{ vars.ECR_ENDPOINT }}/${{ env.ECR_S3_REPO }}:latest

  docker-sqs-create:
    needs: [get-tag]
    name: SQS docker build
    runs-on: ubuntu-latest
    outputs:
      status: ${{ job.status }}
    defaults:
      run:
        working-directory: flask-sqs-service
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to ECR
        run: aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${{ vars.ECR_ENDPOINT }}

      - name: Docker build and tag
        run: |
          docker build -t ${{ env.APP_NAME }}-sqs:latest .
          docker tag ${{ env.APP_NAME }}-sqs:latest ${{ vars.ECR_ENDPOINT }}/${{ env.ECR_SQS_REPO }}:latest

      - name: Docker publish to ECR
        run: |
          docker push ${{ vars.ECR_ENDPOINT }}/${{ env.ECR_SQS_REPO }}:latest

  setup-job:
    runs-on: ubuntu-latest
    needs: [docker-sqs-create,docker-s3-create,get-tag]
    name: "Running ${{ inputs.action }} - VPC and ECR"
    defaults:
      run:
        working-directory: terraform-setup

    steps:
    - uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    
    - name: Terraform init
      run: terraform init

    - name: Terraform plan
      run: terraform plan

    - name: Terraform ${{ inputs.action }}
      run: |
        if [ "${{ inputs.action }}" = "create" ]; then
          terraform apply --auto-approve
        elif [ "${{ inputs.action }}" = "destroy" ]; then
          terraform destroy --auto-approve
        fi
